# Ignorar node_modules global
node_modules/

# Ignorar arquivos do frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.gitignore

# Ignorar arquivos do backend
backend/node_modules/
backend/.env

# Outros arquivos que você não quer versionar
*.log
